{{ partial "header" . }}

<mainhome>

    <div class="two-columns">
        
        <div class="left-column">
                    <h3>{{ .Site.Title }}</h3>
                    <div class="lefty">
                    <p>{{ markdownify .Site.Params.Description }}</p>
        	        You can buy it from:
                	      <ul>
                	          <li><a href="https://www.crcpress.com/Geocomputation-with-R/Lovelace-Nowosad-Munchow/p/book/9781138304512">CRC Press</a></li>
                	          <li><a href="https://www.amazon.com/Geocomputation-Chapman-Hall-Robin-Lovelace/dp/1138304514/">Amazon.com</a></li>
                	          <li><a href="https://www.amazon.co.uk/Geocomputation-Chapman-Hall-Robin-Lovelace/dp/1138304514/">Amazon.co.uk</a></li>
                	      </ul>
            	    </div>

        </div>
        <div class="right-column">
                    <figure class="full-figure">
            	          <img src="/img/book_cover.jpg" alt="Book cover" width="309" height="460">
            	    </figure>
                    
        </div>

    </div>

</mainhome>

{{ partial "footer" . }}
